@charset "UTF-8";
/* line 1, ../../sass/_includes/_reset.scss */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 8, ../../sass/_includes/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 11, ../../sass/_includes/_reset.scss */
body {
  line-height: 1;
}

/* line 14, ../../sass/_includes/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 17, ../../sass/_includes/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 20, ../../sass/_includes/_reset.scss */
blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

/* line 24, ../../sass/_includes/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 29, ../../sass/_includes/_reset.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?53490778");
  src: url("../fonts/fontello.eot?53490778#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?53490778") format("woff"), url("../fonts/fontello.ttf?53490778") format("truetype"), url("../fonts/fontello.svg?53490778#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?53490778#fontello') format('svg');
  }
}
*/
/* line 22, ../../sass/_includes/_icons.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 57, ../../sass/_includes/_icons.scss */
.icon-github-circled:before {
  content: '\e800';
}

/* '¯áÇ' */
/* line 58, ../../sass/_includes/_icons.scss */
.icon-twitter:before {
  content: '\e801';
}

/* '¯áü' */
/* line 59, ../../sass/_includes/_icons.scss */
.icon-link-ext:before {
  content: '\e802';
}

/* '¯áé' */
/* line 1, ../../sass/_includes/_type.scss */
h1, h2, h3, p, .strap, .btn, .flow-block span, .btn-animate {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #2c2c2c;
  text-decoration: none;
}

/* line 8, ../../sass/_includes/_type.scss */
a {
  font-family: 'Montserrat', sans-serif;
  color: #2c2c2c;
  text-decoration: none;
}

/* line 14, ../../sass/_includes/_type.scss */
h1 {
  font-weight: 700;
  font-size: 2.4em;
  padding: 0.75em 0em;
}
@media (min-width: 750px) {
  /* line 14, ../../sass/_includes/_type.scss */
  h1 {
    font-size: 5.4em;
  }
}

/* line 25, ../../sass/_includes/_type.scss */
h2, .h2 {
  font-weight: 700;
  font-size: 1.4em;
  padding: 0.35em 0em;
}
@media (min-width: 650px) {
  /* line 25, ../../sass/_includes/_type.scss */
  h2, .h2 {
    font-size: 2.4em;
  }
}

/* line 36, ../../sass/_includes/_type.scss */
p {
  font-size: 1.1em;
  line-height: 1.3em;
}
@media (min-width: 680px) {
  /* line 36, ../../sass/_includes/_type.scss */
  p {
    font-size: 1.4em;
    line-height: 1.4em;
  }
}
/* line 45, ../../sass/_includes/_type.scss */
p:not(:last-child) {
  margin-bottom: 0.8em;
}

/* line 50, ../../sass/_includes/_type.scss */
p a {
  text-decoration: underline;
}

/* line 54, ../../sass/_includes/_type.scss */
.small {
  font-size: 0.8em;
}

/* line 58, ../../sass/_includes/_type.scss */
.italic {
  font-style: italic;
}

/* line 62, ../../sass/_includes/_type.scss */
.text--center {
  text-align: center;
}

/* line 66, ../../sass/_includes/_type.scss */
.text--right {
  text-align: right;
}

/* line 70, ../../sass/_includes/_type.scss */
.h1--intro {
  font-size: 3.4em;
  padding: 0.7em 0 0;
}
@media (min-width: 600px) {
  /* line 70, ../../sass/_includes/_type.scss */
  .h1--intro {
    padding: 1.5em 0 0.6em;
  }
}

/* line 80, ../../sass/_includes/_type.scss */
.h1--intro + .strap {
  display: none;
  font-size: 1.5em;
  line-height: 1.29em;
}
@media (min-width: 600px) {
  /* line 80, ../../sass/_includes/_type.scss */
  .h1--intro + .strap {
    display: block;
  }
}

/* line 91, ../../sass/_includes/_type.scss */
.strikeThrough {
  position: relative;
}
/* line 93, ../../sass/_includes/_type.scss */
.strikeThrough span {
  position: relative;
  display: inline-block;
  padding: 0 .4em;
  z-index: 1;
}
/* line 99, ../../sass/_includes/_type.scss */
.strikeThrough hr {
  position: absolute;
  top: 30%;
  width: 100%;
}

/* line 107, ../../sass/_includes/_type.scss */
.feed li {
  text-align: left;
}
/* line 110, ../../sass/_includes/_type.scss */
.feed a {
  -moz-transition: background-color, 0.3s;
  -o-transition: background-color, 0.3s;
  -webkit-transition: background-color, 0.3s;
  transition: background-color, 0.3s;
  font-size: 1.2em;
  color: white;
  display: block;
  padding: 0.3em 0.4em;
  line-height: 1.1em;
}
/* line 118, ../../sass/_includes/_type.scss */
.feed a:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #2c2c2c;
}
@media (min-width: 650px) {
  /* line 110, ../../sass/_includes/_type.scss */
  .feed a {
    font-size: 1.4em;
    padding: 0.5em;
  }
}

/* line 1, ../../sass/_includes/_main.scss */
html, body {
  height: 100%;
}

/* line 1, ../../sass/_includes/_main.scss */
.full {
  min-height: 100%;
}

/* line 3, ../../sass/_includes/_main.scss */
body {
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 7, ../../sass/_includes/_main.scss */
.btn {
  border: 0;
  font-size: 1.2em;
  background-color: #F3F3F3;
  padding: 0.5em 0.7em;
  display: inline-block;
}

/* line 15, ../../sass/_includes/_main.scss */
.btn--highlight, .btn--highlight side {
  background-color: #d6252c !important;
  color: #fff;
}

/* line 20, ../../sass/_includes/_main.scss */
.btn__spacing {
  margin: 2.0em 0em 0.75em;
}

/* line 24, ../../sass/_includes/_main.scss */
.btn__lrg {
  font-size: 1.4em;
}

/* line 28, ../../sass/_includes/_main.scss */
.inline-list {
  list-style-type: none;
}

/* line 32, ../../sass/_includes/_main.scss */
.inline-list li {
  display: inline;
}

/* line 36, ../../sass/_includes/_main.scss */
.dark--bg {
  background-color: #51565a;
}

/* line 40, ../../sass/_includes/_main.scss */
.dark {
  color: #51565a;
}

/* line 44, ../../sass/_includes/_main.scss */
.display--block {
  display: block;
}

/* line 48, ../../sass/_includes/_main.scss */
.bg--xmas {
  background-image: url("/styles/images/xmas-pattern.png");
  background-position: top left;
}

/* line 53, ../../sass/_includes/_main.scss */
.respond-image {
  max-width: 100%;
}

/* line 57, ../../sass/_includes/_main.scss */
.underline {
  text-decoration: underline;
}

/* line 62, ../../sass/_includes/_main.scss */
.me-block {
  display: none;
}
@media (min-width: 600px) {
  /* line 62, ../../sass/_includes/_main.scss */
  .me-block {
    display: inline;
  }
}

/* line 1, ../../sass/_includes/_layout.scss */
.container, .container--small {
  position: relative;
  z-index: 20;
  width: auto;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 750px) {
  /* line 1, ../../sass/_includes/_layout.scss */
  .container, .container--small {
    width: 750px;
  }
}

@media (min-width: 550px) {
  /* line 14, ../../sass/_includes/_layout.scss */
  .container--small {
    width: 550px;
  }
}

/* line 21, ../../sass/_includes/_layout.scss */
.container--intro {
  text-align: center;
}
@media (min-width: 600px) {
  /* line 21, ../../sass/_includes/_layout.scss */
  .container--intro {
    text-align: right;
  }
}

/* line 30, ../../sass/_includes/_layout.scss */
.cover {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.4);
}
@media (min-width: 600px) {
  /* line 30, ../../sass/_includes/_layout.scss */
  .cover {
    display: none;
  }
}

/* line 43, ../../sass/_includes/_layout.scss */
.main-image {
  display: none;
}
@media (min-width: 600px) {
  /* line 43, ../../sass/_includes/_layout.scss */
  .main-image {
    display: inline;
  }
}

/* line 50, ../../sass/_includes/_layout.scss */
.full {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("/images/me--head.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (min-width: 600px) {
  /* line 50, ../../sass/_includes/_layout.scss */
  .full {
    background-image: none;
  }
}
@media (min-width: 750px) {
  /* line 50, ../../sass/_includes/_layout.scss */
  .full {
    margin: 0em;
  }
}

/* line 72, ../../sass/_includes/_layout.scss */
.block {
  padding: 1.5em 1em;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (min-width: 750px) {
  /* line 72, ../../sass/_includes/_layout.scss */
  .block {
    padding: 0em 0em 4em;
  }
}
/* line 83, ../../sass/_includes/_layout.scss */
.block:last-of-type {
  padding-bottom: 4em;
}

/* line 88, ../../sass/_includes/_layout.scss */
.block--dark {
  background-color: #51565a;
}
/* line 91, ../../sass/_includes/_layout.scss */
.block--dark p, .block--dark p a, .block--dark h1, .block--dark h2, .block--dark h3 {
  color: white;
}

/* line 96, ../../sass/_includes/_layout.scss */
.block--blue {
  background-color: #51697c;
}
/* line 99, ../../sass/_includes/_layout.scss */
.block--blue p, .block--blue p a, .block--blue h1, .block--blue h2, .block--blue h3 {
  color: white;
}

/* line 104, ../../sass/_includes/_layout.scss */
.block__noMargins {
  margin: 0em;
  padding: 1.5em 1em;
}

/* line 109, ../../sass/_includes/_layout.scss */
.display-block {
  display: block;
}

/* line 113, ../../sass/_includes/_layout.scss */
.header {
  position: absolute;
  width: 100%;
  z-index: 30;
}
@media (min-width: 450px) {
  /* line 113, ../../sass/_includes/_layout.scss */
  .header {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
  }
}

/* line 128, ../../sass/_includes/_layout.scss */
.bar > div {
  margin: 0em 0.5em;
  padding: 0.5em 0em;
}
@media (min-width: 450px) {
  /* line 128, ../../sass/_includes/_layout.scss */
  .bar > div {
    border-bottom: 1px solid #F3F3F3;
  }
}

/* line 139, ../../sass/_includes/_layout.scss */
.sub-footer {
  padding-top: 3em;
}

/* line 144, ../../sass/_includes/_layout.scss */
.margin-center {
  margin: 0 auto;
}

/* line 148, ../../sass/_includes/_layout.scss */
.w80 {
  width: 80%;
}

/* line 153, ../../sass/_includes/_layout.scss */
.coffee-consumed {
  opacity: 0;
  display: none;
  background-color: #F3F3F3;
  padding: 0.5em;
  position: absolute;
  left: 100%;
  top: 16%;
}
@media (min-width: 1170px) {
  /* line 153, ../../sass/_includes/_layout.scss */
  .coffee-consumed {
    display: block;
    opacity: 0;
  }
}
/* line 168, ../../sass/_includes/_layout.scss */
.coffee-consumed p {
  white-space: nowrap;
}

/* line 175, ../../sass/_includes/_layout.scss */
shape-circle {
  display: block;
  height: 60px;
  background-color: white;
  width: 60px;
  border-radius: 50%;
}
/* line 182, ../../sass/_includes/_layout.scss */
shape-circle i {
  color: #51565a;
  position: relative;
  top: 10px;
}

/* line 2, ../../sass/_includes/_grid.scss */
.row {
  width: 100%;
}
@media screen and (min-width: 600px) {
  /* line 2, ../../sass/_includes/_grid.scss */
  .row {
    margin: 0px -15px;
  }
  /* line 7, ../../sass/_includes/_grid.scss */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media screen and (min-width: 600px) {
  /* line 16, ../../sass/_includes/_grid.scss */
  .row__col {
    float: left;
    padding: 0px 15px;
  }
  /* line 21, ../../sass/_includes/_grid.scss */
  .row__col.row__col50 {
    width: 50%;
  }
  /* line 25, ../../sass/_includes/_grid.scss */
  .row__col.row__col50--offset {
    margin-left: 50%;
  }
}

/*
          <a href="" class="btn btn--roller">
            <div class="roller">
              <i class="fa fa-lg fa-github"></i>
              <i class="fa fa-lg fa-github"></i>
            </div>
          </a>
*/
/* line 12, ../../sass/_includes/_animation--btnRoller.scss */
.btn--roller {
  padding: 0px;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
  height: 41px;
  position: relative;
  vertical-align: bottom;
}
/* line 21, ../../sass/_includes/_animation--btnRoller.scss */
.btn--roller__container {
  -moz-transition: bottom, 0.3s;
  -o-transition: bottom, 0.3s;
  -webkit-transition: bottom, 0.3s;
  transition: bottom, 0.3s;
  position: relative;
  bottom: 100%;
  left: 0px;
}
/* line 28, ../../sass/_includes/_animation--btnRoller.scss */
.btn--roller__item {
  display: block;
  padding: 7px 0.2em;
  height: 41px;
  font-size: 1.5em;
}
/* line 34, ../../sass/_includes/_animation--btnRoller.scss */
.btn--roller__item.text {
  font-size: 1.2em;
  padding-top: 10px;
}
/* line 41, ../../sass/_includes/_animation--btnRoller.scss */
.btn--roller:hover .btn--roller__container {
  bottom: 0%;
}

/* line 50, ../../sass/_includes/_animation--btnRoller.scss */
.js-not-touch .btn--roller:hover .roller {
  bottom: 0%;
}
