{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block content_wrapper %}
    <article>
        <div class="subhead">
            <time datetime="{{ page.date|date('c') }}" pubdate>
                <strong>{{ page.date|date("F, jS Y") }}</strong>
            </time>
            <span>
                <i>by</i>
            </span>
            <strong>Tom Millard</strong>
        </div>
        <header>
            <h1>{{ page.title }}</h1>
        </header>
        <p class="tags">
            {% for tag in page.tags %}
            <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %} - {% endif %} {% endfor %}
        </p>
        <div>
            {{ page.blocks.content|raw }}
        </div>
    </article>
{% endblock %}
