/*
          <a href="" class="btn btn--roller">
            <div class="roller">
              <i class="fa fa-lg fa-github"></i>
              <i class="fa fa-lg fa-github"></i>
            </div>
          </a>
*/

$btnRoller-default-height : 41px;

.btn--roller {
  padding : 0px;
  display : inline-block;
  text-decoration : none;
  overflow : hidden;
  height : #{$btnRoller-default-height}; //override this in the html
  position : relative;
  vertical-align: bottom;

  &__container {
    @include transition(bottom, 0.3s);
    position : relative;
    bottom : 100%;
    left : 0px;
  }

  &__item {
    display : block;
    padding : 7px 0.2em;
    height : #{$btnRoller-default-height};
    font-size: 1.5em;

    &.text {
      font-size : 1.2em;
      padding-top : 10px;
    }
  }

  &:hover {
    .btn--roller__container {
      bottom : 0%;
    }
  }

}

.js-not-touch {

  .btn--roller:hover .roller {
    bottom : 0%;
  }

}

