h1, h2, h3, p, .strap, .btn, .flow-block span, .btn-animate {
	font-size : 14px;
	font-family: 'Montserrat', sans-serif;
	color : #{$dark};
	text-decoration: none;
}

a {
	font-family: 'Montserrat', sans-serif;
	color : #{$dark};
	text-decoration: none;
}

h1 {
	font-weight : 700;
	font-size : 2.4em;
	padding : 0.75em 0em;

	@media (min-width: 750px) {
		font-size : 5.4em;
	}

}

h2, .h2 {
	font-weight : 700;
	font-size : 1.4em;
	padding : 0.35em 0em;

	@media (min-width: 650px) {
		font-size : 2.4em;
	}

}

p {
	font-size : 1.1em;
	line-height: 1.3em;

	@media (min-width: 680px) {
		font-size : 1.4em;
		line-height: 1.4em;
	}

	&:not(:last-child) {
		margin-bottom : 0.8em;
	}
}

p a {
	text-decoration : underline;
}

.small {
	font-size : 0.8em;
}

.italic {
	font-style : italic;
}

.text--center {
	text-align : center;
}

.text--right {
	text-align : right;
}

.h1--intro {
	font-size: 3.4em;
	padding: 0.7em 0 0;

	@media (min-width: #{$row-break}) {
		padding: 1.5em 0 0.6em;
	}

}

.h1--intro + .strap {
	display : none;

	font-size : 1.5em;
	line-height: 1.29em;

	@media (min-width: #{$row-break}) {
		display : block;
	}
}

.strikeThrough {
	position : relative;
	span {
		position : relative;
		display : inline-block;
		padding: 0 .4em;
		z-index: 1;
	}
	hr {
		position : absolute;
		top : 30%;
		width : 100%;
	}
}

.feed {
	li {
		text-align : left;
	}
	a {
		@include transition(background-color, 0.3s);
		font-size : 1.2em;
		color : white;
		display : block;
		padding: 0.3em 0.4em;
		line-height : 1.1em;

		&:hover {
			background-color: rgba(255,255,255,0.7);
			color : #{$dark};
		}

		@media (min-width: 650px) {
			font-size : 1.4em;
			padding : 0.5em;
		}
	}
}